---
interface Props {
  title: string;
  sections: {
    title: string;
    content: string; // HTML content
  }[];
}
const { title, sections } = Astro.props;
---
<section class="mb-12">
  <h2 class="text-2xl font-bold mb-6 text-text-primary">{title}</h2>
  
  <div class="prose prose-invert prose-accent max-w-none text-text-secondary text-sm md:text-base">
    {sections.map(section => (
      <>
        <h3 class="text-text-primary font-semibold text-lg mt-8 mb-4">{section.title}</h3>
        <div class="text-text-secondary mb-4" set:html={section.content}></div>
      </>
    ))}
  </div>
</section>
